@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-item {
    @apply  flex justify-between items-center p-2 text-base  hover:text-black  text-gray-400 rounded-lg hover:bg-indigo-50
}

.todoradioButton {
    @apply  appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-yellow-600 checked:border-yellow-600
    checked:ring-yellow-600 
    focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2  cursor-pointer !important
}
.InProgressradioButton {
    @apply  appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600
    checked:ring-blue-600 
    focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2  cursor-pointer !important
}
.doneradioButton {
    @apply  appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-green-600 checked:border-green-600
    checked:ring-green-600 
    focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2  cursor-pointer !important
}